.about-service {
  @include section-above-another;
  @include section-border-radius;
  background-color: $bg-about-service;
  background-image: url("../img/blue-back.svg");
  background-repeat: no-repeat;
  background-position: 0 15px;
  z-index: 90;

  @media (min-width: $min-tablet-width) {
    padding-top: 10px;
    padding-bottom: 25px;
    background-image: url("../img/blue-back-about-service-tablet.svg");
    background-position: 50% 3px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 23px;
    padding-bottom: 0;
    background-image: url("../img/blue-back.svg");
    background-position: 5% 70px;
    background-size: 210px;
  }
}

.about-service__big-wrapper {
  padding-top: 34px;
  padding-bottom: 63px;
  background-image: url("../img/about-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 60% 0;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/about-mobile@2x.png");
  }

  @media (min-width: $min-tablet-width) {
    padding-top: 47px;
    background-image: url("../img/about-tablet@1x.png");
    background-position: 98% 45px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/about-tablet@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 30px;
    padding-bottom: 79px;
    background-image: url("../img/about-desktop@1x.png");
    background-position: 93% 57px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/about-desktop@2x.png");
    }
  }
}

.about-service__wrapper {
  @include page-width;

  @media (min-width: $desktop-width) {
    width: 82%;
    padding: 0;
  }
}

.about-service__text {
  @include section-text-wide;
  color: $white-color;
}

.about-service__header {
  @include section-header;
  margin-bottom: 17px;

  @media (min-width: $min-tablet-width) {
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 65px;
    padding-top: 84px;
  }
}

.about-service__intro {
  @include section-intro;
  margin-bottom: 18px;

  @media (min-width: $min-tablet-width) {
    margin-bottom: 33px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
  }
}

.about-service__intro-invite {
  @include section-intro-additional;
  margin-bottom: 20px;

  @media (min-width: $min-tablet-width) {
    margin-bottom: 53px;
    width: 94%;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 85px;
    font-size: 19px;
    width: 70%;
  }
}

.about-service__button {
  display: none;

  @media (min-width: $min-tablet-width) {
    @include yellow-button-with-svg-in-service;
    order: 2;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 85px;
  }
}
