.address {
  @include section-above-and-under-another;
  @include section-border-radius;
  background-color: $yellow-color;
  position: relative;
  z-index: 65;
  padding-top: 63px;
  padding-bottom: 35px;

  @media (min-width: $min-tablet-width) {
    padding-top: 98px;
    padding-bottom: 85px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 55px;
    padding-top: 105px;
  }
}

.address__wrapper {
  @include page-width;
  width: 85%;

  @media (min-width: $desktop-width) {
    @include flex-row-space;
    align-items: center;
    width: 81%;
  }
}

.address__text {
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;

  @media (min-width: $min-tablet-width) {
    font-size: 24px;
    letter-spacing: 0.1px;
  }

  @media (min-width: $desktop-width) {
    width: 82%;
    line-height: 30px;
  }
}

.address__item {
  @include flex-row;
  align-items: center;
  margin-bottom: 31px;

  @media (min-width: $min-tablet-width) {
    width: 90%;
    margin-bottom: 45px;
    padding-left: 33px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    margin-right: 0;
    padding-left: 145px;
  }
}

.address__item-icon {
  @include black-contacts-circle-with-svg;
  width: 55px;
  margin-right: 17px;

  svg {
    width: 12px;

    @media (min-width: $min-tablet-width) {
      width: 21px;
    }

    @media (min-width: $desktop-width) {
      width: 28px;
    }
  }

  @media (min-width: $min-tablet-width) {
    margin-right: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 35px;
  }
}

.address__button {
  @include yellow-button-with-border;

  @media (min-width: $min-tablet-width) {
    margin-left: 33px;
    border-radius: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 43%;
  }
}
