.directions {
  @include section-above-and-under-another;
  @include section-border-radius;
  @include light-section;
  z-index: 85;
  padding-top: 102px;
  padding-bottom: 27px;

  @media (min-width: $min-tablet-width) {
    padding-top: 130px;
    padding-bottom: 77px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 120px;
    padding-bottom: 95px;
  }
}

.directions__wrapper {
  @include page-width;

  @media (min-width: $min-tablet-width) {
    background-image: url("../img/flags-back@1x.png");
    background-repeat: no-repeat;
    background-position: 100% 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/flags-back@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    @include flex-row-space;
    flex-wrap: wrap;
    padding-top: 90px;
    background-position: 100% 15px;
  }
}

.directions__text {
  @include section-text;
  margin-bottom: 60px;

  @media (min-width: $min-tablet-width) {
    width: 51%;
    margin-bottom: 106px;
  }

  @media (min-width: $desktop-width) {
    order: 2;
    width: 27%;
    margin: 0;
    padding-right: 12%;
    padding-top: 10px;
  }
}

.directions__header {
  @include section-header;
}

.directions__intro {
  @include section-intro;

  @media (min-width: $desktop-width) {
    margin-bottom: 100px;
  }
}

.directions__button {
  @include yellow-button-with-svg;
  order: 2;

  &--mobile {
    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  &--desktop {
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
    }
  }
}

.directions__list {
  @include cancel-list;
  margin-bottom: 25px;

  @media (min-width: $min-tablet-width) {
    @include section-list;
    margin: 0 auto;
    margin-bottom: 45px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -41px;
      left: -37px;
      z-index: 20;
      width: 143px;
      height: 143px;
      background-color: $dark-light-blue-color;
      border-radius: 20px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: 5%;
    width: 43%;

    &::before {
      top: -70px;
      left: -70px;
    }
  }
}

.directions__item {
  @include item;
  margin-bottom: 9px;

  @media (min-width: $min-tablet-width) {
    @include flex-row-space;
    margin-bottom: 13px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 8px;
  }
}

.directions__item-image {
  @include item-image;
  margin-bottom: -14px;

  @media (min-width: $min-tablet-width) {
    width: 185px;
    height: 100%;
    border-radius: 0 10px 10px 0;
  }

  @media (min-width: $desktop-width) {
    width: 187px;
  }
}

.directions__item-info {
  padding: 25px 0 24px 0;
  position: relative;
  z-index: 30;
  border-radius: 10px;
  background-color: $white-color;

  @media (min-width: $min-tablet-width) {
    width: 100%;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 15px;
    padding-bottom: 20px;
  }
}

.directions__item-info-wrapper {
  @include item-wrapper;

  @media (min-width: $min-tablet-width) {
    @include flex-row-space;
    width: 87%;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 83%;
  }
}

.directions__item-flag {
  margin-top: -36px;

  @media (min-width: $min-tablet-width) {
    position: relative;
    order: 2;
    margin-top: -5px;
    margin-right: -64px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 10px;
    margin-right: -67px;
  }
}

.directions__item picture {
  order: 2;
}

.directions__item-flag-image {
  width: 36px;
  height: 23px;

  @media (min-width: $min-tablet-width) {
    width: 71px;
    height: 46px;
  }
}

.directions__item-country-intro {
  @include flex-row-space;
  padding-top: 9px;

  @media (min-width: $min-tablet-width) {
    flex-direction: column;
  }
}

.directions__item-country {
  margin-bottom: 3px;
  font-size: 19px;
  font-weight: bold;

  @media (min-width: $min-tablet-width) {
    font-size: 22px;
  }
}

.directions__item-intro {
  font-size: 13px;
  letter-spacing: 0.5px;
  color: $dark-grey-color;

  @media (min-width: $min-tablet-width) {
    margin-bottom: 19px;
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 28px;
  }
}

.directions__item-like {
  padding-top: 5px;
  font-size: 15px;

  @media (min-width: $min-tablet-width) {
    font-size: 18px;
    padding-top: 0;
  }
}

.directions__item-like-button {
  @include button;

  @media (min-width: $min-tablet-width) {
    margin-right: 5px;
  }

  svg,
  .directions__item-like-number {
    color: $dark-grey-color;
    width: 11px;
    height: 11px;

    @media (min-width: $min-tablet-width) {
      width: 22px;
      height: 16px;
    }
  }
}
