.filter-by-companion {
  background-color: $yellow-color;
  border-radius: 20px;
  padding: 24px 0;
  margin-bottom: 30px;
}

.filter-by-companion__wrapper {
  @include page-width;
  width: 82%;
}

.filter-by-companion__header {
  margin-bottom: 23px;
  font-size: 20px;
  line-height: 23px;
}

.filter-by-companion__form-wrapper {
  @include flex-row-wrap;
  border-top: 1px solid #f3c62a;
  padding: 12px 0 6px 0;
}

.filter-by-companion__form-legend {
  @include flex-row-space;
  @include button;
  width: 100%;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 16px;
}

.filter-by-companion__form-group {
  @include flex-row-wrap;
  width: 100%;
}

.filter-by-companion__form-legend svg {
  width: 10px;
  color: $black-color;
}

.filter-by-companion__list,
.filter-by-companion__form-legend-icon-dropup {
  display: none;
}

.filter-by-companion__form-group--active .filter-by-companion__form-legend-icon-dropup,
.filter-by-companion__form-group--active .filter-by-companion__list {
  display: flex;
}

.filter-by-companion__form-group--active .filter-by-companion__form-legend-icon-dropup {
  height: 5px;
  margin-top: 4px;
}

.filter-by-companion__form-group--active .filter-by-companion__form-legend-icon-dropdown {
  display: none;
}

.filter-by-companion__list {
  @include cancel-list;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.filter-by-companion__item {
  position: relative;
  margin-left: 27px;
  width: 100%;
  margin-bottom: 15px;
  font-size: 13px;
}

.filter-by-companion__item-checkbox + label::before {
  content: "";
  position: absolute;
  width: 20px;
  left: -26px;
  top: -2px;
  background-color: $white-color;
  height: 20px;
  border: none;
  display: block;
}

.filter-by-companion__item-checkbox:checked + label::after {
  content: "";
  position: absolute;
  width: 9px;
  left: -20px;
  top: 4px;
  background-color: $white-color;
  height: 12px;
  border: none;
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
}

.filter-by-companion__form-group--transport {
  padding-bottom: 13px;
}

.filter-by-companion__item-transport {
  background-color: $white-color;
  border-radius: 50%;
  width: 33px;
  height: 33px;
  margin-left: 0;
}

.filter-by-companion__item-transport svg {
  width: 15px;
  position: relative;
  top: 8px;
  left: 8px;
  color: $light-grey-color;
}

.filter-by-companion__item-transport--active svg {
  color: $dark-blue-color;
}

.filter-by-companion__form-group--level .filter-by-companion__form-legend {
  margin-bottom: 12px;
}

.filter-by-companion__list--level {
  margin-bottom: 28px;
}

.filter-by-companion__list--level li {
  width: 50%;
}

.filter-by-companion__list--level input {
  width: 99%;
  padding: 7px 0;
  text-align: center;
  border: 1px solid $light-grey-color;
}

.filter-by-companion__list--scale {
  position: relative;
  z-index: 10;
  width: 95%;
  padding-top: 0;
  border: none;
  display: block;
  margin-bottom: 17px;
}

.filter-by-companion__item-scale {
  margin-top: 20px;
  display: block;
  width: 100%;
  height: 1px;
  background-color: $dark-grey-color;
  z-index: 5;
}

.filter-by-companion__item-scale-short {
  display: block;
  width: 70%;
  height: 2px;
  background-color: $black-color;
  z-index: 10;
  margin-left: 32%;
  margin-top: -2px;
}

.filter-by-companion__item-toggle {
  display: block;
  width: 11px;
  height: 10px;
  background-color: $black-color;
  border-radius: 50%;
}

.filter-by-companion__item-toggle--right {
  margin-left: 100%;
  margin-top: -10px;
}

.filter-by-companion__item-toggle--left {
  margin-left: 32%;
  margin-top: -7px;
}

.filter-by-companion__button {
  @include button;
  width: 100%;
  text-align: center;
  background-color: $white-color;
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
}

@media (min-width: $min-tablet-width) {
  .filter-by-companion {
    padding: 38px 0;
    margin-bottom: 40px;
  }

  .filter-by-companion__wrapper {
    width: 90%;
  }

  .filter-by-companion__header {
    margin-bottom: 41px;
    font-size: 27px;
    line-height: 27px;
  }

  .filter-by-companion__form-groups {
    margin-bottom: 37px;
  }

  .filter-by-companion__form-wrapper {
    border: none;
    padding: 0;
    margin-bottom: 30px;

    &:first-child {
      border-top: 1px solid #f3c62a;
      padding-top: 38px;
    }

    &:last-child {
      border-bottom: 1px solid #f3c62a;
      padding-bottom: 37px;
    }

    &:nth-child(4) {
      margin-bottom: 14px;
    }
  }

  .filter-by-companion__form-legend {
    width: 25%;
    font-size: 17px;
    margin-bottom: 0;
  }

  .filter-by-companion__form-group--active .filter-by-companion__form-legend {
    margin-bottom: 0;
  }

  .filter-by-companion__form-legend-icon-dropup,
  .filter-by-companion__form-group--active .filter-by-companion__form-legend-icon-dropup,
  .filter-by-companion__form-group--active .filter-by-companion__form-legend-icon-dropdown,
  .filter-by-companion__form-legend svg {
    display: none;
  }

  .filter-by-companion__list {
    display: flex;
    width: 75%;
  }

  .filter-by-companion__item {
    padding-left: 7px;
    margin-bottom: 0;
    font-size: 17px;
    width: 24%;
  }

  .filter-by-companion__item-checkbox + label::before {
    width: 22px;
    height: 25px;
  }

  .filter-by-companion__item-checkbox:checked + label::after {
    width: 10px;
    height: 12px;
  }

  .filter-by-companion__form-group--transport {
    padding-bottom: 0;
  }

  .filter-by-companion__item-transport {
    width: 7%;
    height: 36px;
    margin-right: 2%;
  }

  .filter-by-companion__item-transport svg {
    width: 15px;
    position: relative;
    top: 8px;
    left: 8px;
  }

  .filter-by-companion__form-group--level .filter-by-companion__form-legend {
    margin-bottom: 0;
  }

  .filter-by-companion__list--level {
    width: 28%;
    margin-bottom: 0;
    order: 2;
  }

  .filter-by-companion__list--level input {
    padding: 10px 0;
    font-size: 20px;
  }

  .filter-by-companion__list--scale {
    width: 40%;
    display: block;
    margin-bottom: 0;
    margin-right: auto;
  }

  .filter-by-companion__item-scale {
    height: 3px;
  }

  .filter-by-companion__item-scale-short {
    width: 75%;
    height: 3px;
    margin-left: 28%;
    margin-top: -8px;
  }

  .filter-by-companion__item-toggle {
    z-index: 5;
  }

  .filter-by-companion__item-toggle--left {
    margin-left: 25%;
    margin-top: -17px;
  }

  .filter-by-companion__item-toggle--right {
    margin-left: 96%;
    margin-top: -22px;
  }

  .filter-by-companion__button {
    padding: 16px;
    border-radius: 30px;
    font-size: 17px;
  }
}

@media (min-width: $desktop-width) {
  .filter-by-companion {
    width: 22%;
    padding: 48px 0;
    margin: 0;
  }

  .filter-by-companion__wrapper {
    width: 65%;
    margin-left: 0;
    padding-left: 18%;
  }

  .filter-by-companion__header {
    margin-bottom: 35px;
    line-height: 30px;
  }

  .filter-by-companion__form-groups {
    margin-bottom: 25px;
  }

  .filter-by-companion__form-wrapper {
    border-top: none;
    padding: 0;
    margin-bottom: 21px;

    &:first-child {
      border-top: none;
      padding-top: 0;
    }

    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }

    &:nth-child(4) {
      margin-bottom: 26px;
    }
  }

  .filter-by-companion__form-legend {
    width: 100%;
    font-size: 16px;
  }

  .filter-by-companion__form-legend svg,
  .filter-by-companion__form-group--active .filter-by-companion__form-legend-icon-dropup {
    display: block;
  }

  .filter-by-companion__form-group--active .filter-by-companion__form-legend {
    margin-bottom: 27px;
  }

  .filter-by-companion__list {
    display: none;
    width: 100%;
  }

  .filter-by-companion__item {
    width: 100%;
    margin-bottom: 20px;
    font-size: 18px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .filter-by-companion__item-transport {
    width: 23%;
  }

  .filter-by-companion__list--level {
    margin-bottom: 16px;
  }

  .filter-by-companion__list--scale {
    order: 2;
    margin-bottom: 17px;
  }

  .filter-by-companion__item-scale-short {
    height: 2px;
    margin-left: 32%;
    margin-top: -2px;
  }


  .filter-by-companion__item-toggle--left {
    margin-left: 32%;
    margin-top: -7px;
  }

  .filter-by-companion__item-toggle--right {
    margin-left: 93%;
    margin-top: -9px;
  }

  .filter-by-companion__button {
    border-radius: 20px;
    font-size: 15px;
  }
}
