.filter-by-place {
  @include section-above-and-under-another-inner-page;
  background-color: $dark-light-blue-color;
  margin-bottom: 23px;
  padding-top: 45px;
  padding-bottom: 13px;
  width: 100%;

  @media (min-width: $min-tablet-width) {
    padding-top: 110px;
    margin-bottom: 47px;
    padding-bottom: 55px;
    border-radius: 0 0 55px 55px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 110px;
    margin-top: -50px;
    margin-bottom: 75px;
    padding-bottom: 55px;
  }

  .filter-by-place__countries-buttons {
    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }

  .filter-by-place__button {
    &--show-more,
    &--close,
    &--cross {
      display: none;
    }

    &--header,
    &--burger {
      @media (min-width: $min-tablet-width) {
        display: none;
      }

      @media (min-width: $desktop-width) {
        display: block;
      }
    }

    &--show-more {
      @media (min-width: $min-tablet-width) {
        display: block;
        order: 2;
      }
    }

    &--dots {
      @media (min-width: $min-tablet-width) {
        order: 3;
      }
    }
  }

  .filter-by-place__countries {
    display: none;
  }

  .filter-by-place__continents-list {
    display: none;

    @media (min-width: $min-tablet-width) {
      display: flex;
      order: 1;
    }
  }

  &--opened {
    @media (min-width: $min-tablet-width) {
      padding-bottom: 72px;
      border-radius: 0 0 55px 55px;
    }

    @media (min-width: $desktop-width) {
      padding-bottom: 70px;
    }

    .filter-by-place__continents-list {
      display: block;

      @media (min-width: $min-tablet-width) {
        display: flex;
      }
    }

    .filter-by-place__buttons {
      @media (min-width: $desktop-width) {
        margin-bottom: 65px;
      }
    }

    .filter-by-place__countries {
      display: block;

      @media (min-width: $min-tablet-width) {
        display: block;
      }
    }

    .filter-by-place__button {
      &--dots {
        display: none;
      }

      &--cross {
        display: block;

        @media (min-width: $min-tablet-width) {
          order: 3;
        }
      }

      &--close {
        @media (min-width: $min-tablet-width) {
          display: block;
          order: 2;
        }
      }

      &--show-more {
        @media (min-width: $min-tablet-width) {
          display: none;
        }
      }
    }
  }
}

.filter-by-place__wrapper {
  @include inner-page-width;
}

.filter-by-place__buttons {
  @include flex-row;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;

  @media (min-width: $desktop-width) {
    width: 97%;
  }
}

.filter-by-place__button {
  @include button;

  svg {
    color: $black-color;
    width: 15px;
  }

  &--burger {
    width: 23px;

    @media (min-width: $desktop-width) {
      margin-right: 20px;

      svg {
        width: 23px;
      }
    }
  }

  &--cross {
    @media (min-width: $desktop-width) {
      margin-right: 43px;

      svg {
        width: 23px;
      }
    }
  }

  &--header,
  &--close {
    margin-left: 0;
    margin-right: 21px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;

    @media (min-width: $min-tablet-width) {
      font-size: 18px;
      margin-right: 62px;
    }

    @media (min-width: $desktop-width) {
      font-size: 18px;
    }
  }

  &--header {
    @media (min-width: $desktop-width) {
      margin-right: 25px;
    }
  }

  &--close {
    @media (min-width: $desktop-width) {
      margin-right: 60px;
    }
  }

  &--show-more {
    margin-right: 12px;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
  }

  &--dots {
    svg {
      width: 15px;
    }

    @media (min-width: $min-tablet-width) {
      width: 30px;

      svg {
        width: 27px;
        height: 12px;
      }
    }

    @media (min-width: $desktop-width) {
      margin-right: 40px;
    }
  }

  &--close-at-end {
    @include blue-button;
    @include inner-page-width;
    padding: 10px 0;

    svg {
      margin-right: 10px;
    }

    @media (min-width: $min-tablet-width) {
      padding: 40px 0;
    }

    @media (min-width: $desktop-width) {
      width: 100%;
    }
  }
}

.filter-by-place__continents-list {
  @include cancel-list;
  @include content-width;
  margin-top: 28px;
  margin-bottom: 17px;
  width: 82%;

  @media (min-width: $min-tablet-width) {
    @include flex-row;
    margin: 0;
    margin-right: auto;
    width: auto;
    padding-left: 0;
  }
}

.filter-by-place__continents-item {
  margin-bottom: 8px;

  @media (min-width: $min-tablet-width) {
    margin-bottom: 0;
    margin-right: 32px;

    &:last-child {
      margin-right: 0;
    }
  }

  @media (min-width: $desktop-width) {
    margin-right: 30px;
  }

  label {
    @include filter-item;

    @media (min-width: $min-tablet-width) {
      font-size: 16px;
      line-height: 16px;
    }

    @media (min-width: $desktop-width) {
      line-height: 19px;
    }
  }

  input:checked + label {
    @include filter-item--active;
  }
}

.filter-by-place__countries {
  @include section-border-radius;
  position: absolute;
  left: 0;
  z-index: 100;
  width: 100%;
  padding-bottom: 25px;
  background-color: $dark-light-blue-color;

  @media (min-width: $min-tablet-width) {
    @include flex-row-space;
    margin-bottom: 0;
    padding-top: 45px;
    padding-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    position: static;
    margin-bottom: 15px;
    padding-top: 0;
  }
}

.filter-by-place__countries-wrapper {
  @include inner-page-width;

  @media (min-width: $min-tablet-width) {
    @include flex-row;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    width: 100%;
  }
}

.filter-by-place__letters-list {
  @include content-width;
  @include litters-list;

  @media (min-width: $min-tablet-width) {
    width: 60%;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.filter-by-place__letters-item {
  width: 19%;
  border: 1px solid #eaeaea;

  @media (min-width: 768px) {
    border: none;
    width: 21%;
  }

  label {
    outline: none;
    display: block;
    width: 100%;
    height: 25px;
    padding-top: 15px;
    color: $dark-grey-color;
    background-color: #ffffff;
    font-weight: bold;
    text-align: center;
    border: none;

    @media (min-width: 768px) {
      color: #808080;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;
      line-height: 14px;
      font-size: 58px;
      background-color: transparent;
      padding: 33px 0 25px;
      text-align: left;
    }
  }

  .filter-by-place-radio:checked + label {
    color: #ffffff;
    background-color: #172a5b;

    @media (min-width: 768px) {
      color: #2a3256;
      background-color: transparent;
    }
  }
}

.filter-by-place__countries-group-lists {
  @include content-width;
  margin-bottom: 30px;
  margin-top: 12px;

  @media (min-width: $min-tablet-width) {
    margin: 0;
    padding: 0;
    margin-top: 16px;
    width: 28%;
  }

  @media (min-width: $desktop-width) {
    @include flex-row-wrap;
    margin: 0;
    margin-bottom: 60px;
    padding-left: 15px;
    width: 100%;
  }
}

.filter-by-place__countries-group-list {
  @include cancel-list;
  display: none;

  &--active {
    display: block;
  }

  @media (min-width: $min-tablet-width) {
    margin: 0;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    display: block;
    width: 231px;
    margin-bottom: 35px;
    padding-left: 19px;
    min-height: 412px;

    &:nth-last-child(5),
    &:nth-last-child(4),
    &:nth-last-child(3),
    &:nth-last-child(2),
    &:last-child {
      min-height: 250px;
      margin-bottom: 0;
    }
  }
}

.filter-by-place__countries-group-item {
  @media (min-width: $min-tablet-width) {
    margin-bottom: 11px;
  }

  label {
    color: #484848;
    font-size: 15px;
    line-height: 23px;

    @media (min-width: $min-tablet-width) {
      font-size: 18px;
      line-height: 19px;
    }
  }

  input:checked + label {
    @include filter-item--active;
  }

  &--letter {
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
      font-size: 58px;
      font-weight: bold;
      margin-bottom: 36px;
    }
  }
}
