.map {
background-image: url("../img/map-mobile@1x.jpg");
height: 323px;
background-position: center center;
background-repeat: no-repeat;
position: relative;
margin-top: -20px;
z-index: 10px;
background-size: cover;
}

.map iframe {
  width: 100%;
  border: none;
}

.map__button {
  position: absolute;
  width: 42px;
  height: 50px;
  top: 42%;
  left: 44%;
}

@media (min-width: $min-tablet-width) {
  .map {
    background-image: url("../img/map-tablet@1x.jpg");
    background-size: cover;
    height: 550px;
    margin-top: -55px;
  }
}

@media (min-width: $desktop-width) {
  .map {
    background-image: url("../img/map-desktop@1x.jpg");
    height: 490px;
    margin-top: -55px;
  }
}
