.menu {
  @media (max-width: $max-tablet-width) {
    @include page-width;
    padding-top: 28px;

    picture {
      margin-bottom: 65px;
    }
  }

  @media (min-width: $min-tablet-width) {
    @include flex-row-wrap;
    justify-content: space-between;
    align-items: center;
    padding: 42px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.menu__logo {
  @media (min-width: $min-tablet-width) {
    order: 1;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.menu__logo-image {
  @include logo;
}

.menu__site-list {
  @include cancel-list;
  width: 100%;

  @media (max-width: $max-tablet-width) {
    margin-top: 65px;
    margin-bottom: 53px;
    text-align: center;
  }

  @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
    order: 3;
    width: 100%;
    margin-top: 95px;
    margin-bottom: 130px;
    padding-left: 8%;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    @include flex-row-wrap;
  }
}

.menu__site-item {
  @media (max-width: $max-tablet-width) {
    margin-bottom: 10px;

    &--minus {
      display: none;
    }

    a {
      font-size: 25px;
      text-decoration: none;
      text-transform: uppercase;
      color: $blue-color;
    }
  }

  @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
    margin-bottom: 13px;

    a {
      font-size: 50px;
    }
  }

  @media (min-width: $desktop-width) {
    @include white-link;
    margin-right: 40px;
  }
}

.menu__login {
  @include login;
  margin-bottom: 50px;
  width: 100%;

  @media (min-width: $min-tablet-width) {
    order: 2;
    width: 185px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.menu__contacts-list {
  @include cancel-list;
  margin-bottom: 40px;
    width: 100%;

  @media (min-width: $min-tablet-width) {
    order: 4;
    margin-bottom: 130px;
    padding-left: 8%;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}


.menu__contacts-item {
  @include black-contacts-item;
}

.menu__contacts-item-icon {
  @include black-contacts-circle-with-svg;
}

.menu__contacts-item-text {
  color: $black-color;
  text-decoration: none;
}

.menu__social-list {
  @include cancel-list;
  @include flex-row-wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  @media (min-width: $min-tablet-width) {
    order: 5;
    width: 100%;
    margin-left: 11%;
    justify-content: flex-start;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.menu__social-item {
  margin-right: 26px;

  &:last-child {
    margin-right: 0;
  }

  svg {
    color: $dark-grey-color;

    @media (min-width: $min-tablet-width) {
      width: 25px;
      height: 30px;
    }
  }

  @media (min-width: $min-tablet-width) {
    margin-right: 33px;
  }

  &--vk svg {
    @media (min-width: $min-tablet-width) {
      color: $dark-grey-color;
      width: 28px;
      height: 30px;
    }
  }
}
