.page-footer {
  @include section-border-radius-form-page;
  margin-top: -90px;
  z-index: 65;
  position: relative;
  background-color: $white-color;
  padding-top: 38px;
  padding-bottom: 30px;

  @media (min-width: $min-tablet-width) {
    padding-top: 45px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 45px;
    padding-bottom: 30px;
  }

  &--form {
    margin-top: -72px;

    @media (min-width: $desktop-width) {
      margin-top: -85px;
    }
  }

  &--inner-page {
    margin-top: -60px;

    @media (min-width: $min-tablet-width) {
      margin-top: -46px;
    }

    @media (min-width: $desktop-width) {
      margin-top: -75px;
    }
  }
}

.page-footer__wrapper {
  @include page-width;
  @include flex-column;
  margin-bottom: 0;

  @media (min-width: $min-tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.page-footer__logo {
  @include logo;
  margin: 0 auto;
  margin-bottom: 35px;

  @media (min-width: $min-tablet-width) {
    margin: 0;
  }
}

.page-footer__social-list {
  @include flex-row;
  @include cancel-list;
  margin: 0 auto;
  margin-bottom: 35px;

  @media (min-width: $min-tablet-width) {
    margin: 0;
    margin-left: -14px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -50px;
  }
}

.page-footer__social-item {
  @include yellow-circle;
}

.page-footer__made-by {
  @include flex-row-space;
  align-items: center;
  padding-top: 12px;
  font-size: 14px;
  text-decoration: none;
  color: $black-color;
  border-top: 1px solid $light-grey-color;

  img {
    color: $black-color;

    @media (min-width: $min-tablet-width) {
      margin-left: 23px;
    }
  }

  @media (min-width: $min-tablet-width) {
    padding-top: 0;
    font-size: 17px;
    border-top: none;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}
