.page-header {
  @include header-promo-bg-color;
  padding-top: 26px;

  &--inner-page {
    padding-top: 20px;
  }

  @media (min-width: $min-tablet-width) {
    padding-top: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 50px;
  }
}

.page-header__wrapper {
  @include page-width;
  @include flex-row-space;
  align-items: center;

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
  }
}

.page-header__logo {
  @include logo;

  @media (min-width: $min-tablet-width) {
    height: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 200px;
    height: 50px;
    margin-right: 40px;
  }
}

.page-header__main-nav {
  .page-header__menu {
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
      position: static;
      background-color: inherit;
    }
  }

  &--opened {
    @include popup-all-width;

    .page-header__menu {
      @include flex-row-space;
      flex-wrap: wrap;
    }

    .page-header__toggle {
      position: absolute;
      right: 23px;
      top: 23px;
      height: 22px;
      background-image: url("../img/close.svg");
      background-repeat: no-repeat;

      @media (min-width: $min-tablet-width) {
        @include center-absolute-element-x;
        top: 50px;
      }
    }
  }
}

.page-header__toggle {
  @include button;
  width: 25px;
  height: 11px;
  background-image: url("../img/menu.svg");
  background-repeat: no-repeat;

  @media (min-width: $min-tablet-width) {
    margin-left: 20px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-header__contacts {
  @include contacts-list;

  @media (max-width: $mobile-width) {
    @include visually-hidden;
  }

  @media (min-width: $desktop-width) {
    margin-left: auto;
  }
}

.page-header__contacts-item {
  @include contacts-item;
  width: 50px;
  height: 50px;

  &--phone,
  &--email {
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
    }
  }

  &--login {
    min-width: 185px;
  }
}
