.promo {
  @include header-promo-bg-color;
  padding-top: 45px;
  padding-bottom: 37px;
  background-image: url("../img/globe-back-mobile@1x.jpg");
  background-position: 0 5%;
  background-size: 100% 400px;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/globe-back-mobile@2x.jpg");
  }

  @media (min-width: $min-tablet-width) {
    padding-top: 70px;
    padding-bottom: 90px;
    background-image: url("../img/globe-back-tablet@1x.jpg");
    background-position: -355px 56%;
    background-size: auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/globe-back-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 5px;
    padding-bottom: 0;
    background-image: url("../img/globe-back-desktop@1x.jpg");
    background-position: -180px -100px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/globe-back-desktop@2x.jpg");
    }
  }

  &--inner-page,
  &--form-page {
    @include section-above-another;
    @include section-border-radius-inner-page;
    z-index: 90;
    padding-top: 45px;
    padding-bottom: 0;
    background-image: none;

    @media (min-width: $min-tablet-width) {
      padding-top: 142px;
    }
  }

  &--inner-page {
    @media (min-width: $desktop-width) {
      padding-top: 130px;
    }
  }

  &--form-page {
    @media (min-width: $desktop-width) {
      padding-top: 57px;
      align-items: center;
    }
  }
}

.promo__wrapper {
  @include page-width;
  background-image: url("../img/traveller-illustration-mobile@1x.png");
  background-position: 56px 20%;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/traveller-illustration-mobile@2x.png");
  }

  @media (min-width: $min-tablet-width) {
    background-image: url("../img/traveller-illustration-tablet@1x.png");
    background-position: 244px 47%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/traveller-illustration-tablet@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    @include flex-row-wrap;
    align-items: flex-start;
    padding-bottom: 127px;
    background-image: url("../img/traveller-illustration-desktop@1x.png");
    background-position: 61% 5px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/traveller-illustration-desktop@2x.jpg");
    }
  }

  &--inner-page,
  &--form-page {
    @include inner-page-width;
    background-image: none;

    @media (min-width: $desktop-width) {
      padding-bottom: 0;
    }
  }

  &--form-page .promo__text-account {
    @media (min-width: $desktop-width) {
      padding-bottom: 0;
    }
  }
}

.promo__text-buttons,
.promo__text-account {
  @media (min-width: $min-tablet-width) {
    @include flex-row;
    font-size: 20px;
    margin-bottom: 65px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.promo__text-buttons {
  @media (min-width: $desktop-width) {
    margin-bottom: 85px;
    padding: 0 65px;
  }
}

.promo__text-account {
  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    padding: 0 93px 0 65px;
  }
}

.promo__header {
  margin-bottom: 245px;
  text-align: center;
  font-size: 33px;
  line-height: 42px;
  color: $white-color;

  @media (min-width: $min-tablet-width) {
    width: 65%;
    margin: 0 auto;
    margin-bottom: 87px;
    font-size: 54px;
    line-height: 70px;
  }

  @media (min-width: $desktop-width) {
    width: 33%;
    margin-left: 0;
    margin-bottom: 107px;
    padding-top: 100px;
    padding-left: 5%;
    text-align: left;
  }

  &--inner-page {
    width: auto;
    margin: 0;
    font-size: 32px;
    line-height: 35px;
    text-align: left;

    @media (min-width: $min-tablet-width) {
      font-size: 54px;
      margin-right: auto;
    }

    @media (min-width: $desktop-width) {
      padding: 0;
    }
  }
}

.promo__contacts {
  @include contacts-list;
  margin-bottom: 23px;

  @media (min-width: $min-tablet-width) {
    display: none;
  }
}

.promo__contacts-item {
  @include contacts-item;
  width: 58px;
  height: 40px;

  &--login {
    width: 100%;
    padding: 10px 0;
  }

  a {
    padding: 0 5px;
  }
}

.promo__quote {
  width: 63%;
  padding-left: 24px;
  color: $white-color;
  margin-bottom: 31px;

  @media (min-width: $min-tablet-width) {
    width: 43%;
    margin-bottom: 213px;
    padding-left: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 22%;
    padding-top: 115px;
    padding-left: 0;
    margin-bottom: 0;
  }
}

.promo__quote-text {
  @include section-intro;
  margin-bottom: 20px;

  @media (min-width: $min-tablet-width) {
    margin-bottom: 44px;
  }
}

.promo__quote-author,
.promo__quote-profession {
  @include section-intro-additional;
}

.promo__icon-line {
  width: 175px;
  margin-bottom: -5px;
  color: $orange-color;

  @media (min-width: $min-tablet-width) {
    width: 287px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 65px;
  }

  &--form {
    width: 210px;

    @media (min-width: $min-tablet-width) {
      width: 355px;
    }

    @media (min-width: $desktop-width) {
      margin-left: 65px;
    }
  }
}

.promo__button {
  display: none;

  @media (min-width: $min-tablet-width) {
    display: flex;
    color: $white-color;
    text-decoration: none;
  }

  &--main {
    @media (min-width: $min-tablet-width) {
      margin-left: auto;
      font-weight: bold;
      margin-right: 25px;
    }
  }
}

.promo__account-level {
  display: none;

  @media (min-width: $desktop-width) {
    @include people-level;
    display: block;
    position: relative;
    height: 107px;
    width: 100px;
    margin-right: 40px;
  }
}

.promo__account-level-number {
  @include level-number-white;
  font-size: 35px;
  color: $white-color;
  margin-top: 20px;
}

.promo__account-level-word {
  @include level-word-white;
  font-size: 15px;
  width: 50px;
  color: $white-color;
}

.promo__account-image {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    height: 192px;
    width: 192px;
  }
}
